<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="assets/css/style-for-pages/style-for-about-page.css">
</head>

<body>

	<header class="header header-product">
		<div class="container product-container">
			<div class="header_inner">

				<a href="home.html">
					<div class="header_logo"></div>
				</a>


				<nav class="nav">
					<a class="nav_link about_link_menu" href="product.html">Product</a>
					<a class="nav_link" href="reservation.html">Reservation</a>
					<a class="nav_link" href="about.html">About</a>
					<a class="nav_link" href="help.html">Help</a>
				</nav>
			</div>
		</div>
	</header>



	<div class="content">

		<div class="content-about-one content-about">
			<div class="text-one text-about">
				<h2 class="content_text_one">We ignite opportunity by setting the world in motion</h2>
				<p class="content_text_one">
					Good things happen when people can move, whether across town or toward their dreams. Opportunities
					appear,
					open up, become reality. What started as a way to tap a button to get a ride has led to billions of
					moments
					of human connection as people around the world go all kinds of places in all kinds of ways with the
					help
					of
					our technology.</p>
			</div>
			<img class="img_about" src="assets/images/man_in_car_door2.png" >
		</div>

		<hr>

		<div class="content-about-two content-about">
			<img class="img_about" src="assets/images/smart-forour-electric-web-0155.jpg">
			<div class="text-two text-about-right">
				<h2 class="content_text_two">Rides and beyond</h2>
				<p class="content_text_two">
					In addition to giving riders a way to get from point A to point B, we're working to bring the future
					closer
					with self-driving technology and urban air transport, helping people order food quickly and
					affordably,
					removing barriers to healthcare, creating new freight-booking solutions, and helping companies
					provide a
					seamless employee travel experience.</p>
			</div>
			
		</div>

		<hr>

		<div class="content-abot-three content-about">
			<div class="text-three text-about">
				<h2 class="content_text_three">Your safety drives us</h2>
				<p class="content_text_three">
					Whether you’re in the back seat or behind the wheel, your safety is essential. We are committed to
					doing our
					part, and technology is at the heart of our approach. We partner with safety advocates and develop
					new
					technologies and systems to help improve safety and help make it easier for everyone to get around.
				</p>
			</div>
			<img class="img_about" src="assets/images/lime-bike-scooters-nc-jt-180904_hpEmbed_3x2_608.jpg">
		</div>

	</div>



	<div class="footer-product">
		<div class="ftlogo ftl ftl-product">
			<div class="footer-logo ftl"></div>
			<div class="footer-logo-product ftl">

			</div>
		</div>

		<div class="callBack ftl">
			<h1>Contact us:</h1>
			<br>
			<div class="vib contact">Viber: +380662223344</div>
			<div class="vib viber"></div>

			<br>
			<div class="tel contact">Telegram: +380662223344</div>
			<div class="tel telegram"></div>

			<br>
			<div class="inst contact">Instagram: @EcoDriveLviv</div>
			<div class="inst instagram"></div>

			<br>
			<div class="face contact">FaceBook: EcoDriveLviv</div>
			<div class="face facebook"></div>
		</div>

	</div>


	<script src="assets/script.js"></script>
</body>

</html>