<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Help</title>
	<link rel="stylesheet" href="assets/css/style-for-pages/style-for-help.css">
</head>
<body>
	
	<header class="header header-product">
		<div class="container product-container">
			<div class="header_inner">

				<a href="home.html">
					<div class="header_logo"></div>
				</a>


				<nav class="nav">
					<a class="nav_link about_link_menu" href="product.html">Product</a>
					<a class="nav_link" href="reservation.html">Reservation</a>
					<a class="nav_link" href="about.html">About</a>
					<a class="nav_link" href="help.html">Help</a>
				</nav>
			</div>
		</div>
	</header>


	<div class="content">

		<h1 class="content_text">How do you book an electric transport?</h1>
		<ol>
			<li>Click on the link: <a href="Project/reservation.html"></a>reservation.html</li>
			<li>Fill in all fields of the form.</li>
			<div class="screen-form"></div>
			<li>Press the "Book" button.</li>
		</ol>
		
	</div>
	


	<div class="footer-product">
		<div class="ftlogo ftl ftl-product">
			<div class="footer-logo ftl"></div>
			<div class="footer-logo-product ftl">

			</div>
		</div>

		<div class="callBack ftl">
			<h1>Contact us:</h1>
			<br>
			<div class="vib contact">Viber: +380662223344</div>
			<div class="vib viber"></div>

			<br>
			<div class="tel contact">Telegram: +380662223344</div>
			<div class="tel telegram"></div>

			<br>
			<div class="inst contact">Instagram: @EcoDriveLviv</div>
			<div class="inst instagram"></div>

			<br>
			<div class="face contact">FaceBook: EcoDriveLviv</div>
			<div class="face facebook"></div>
		</div>

	</div>


	<script src="assets/script.js"></script>

</body>
</html>