<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/css/style-for-home.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200i,400,700&display=swap&subset=cyrillic-ext"
		rel="stylesheet">
	<title>EcoDrive</title>
</head>

<body>


	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="header_logo">
					<a href="home.html"></a>
				</div>

				<nav class="nav">
					<a class="nav_link about_link_menu" href="product.html">Product</a>
					<a class="nav_link" href="reservation.html">Reservation</a>
					<a class="nav_link" href="about.html">About</a>
					<a class="nav_link" href="help.html">Help</a>
				</nav>
			</div>
		</div>
	</header>




	<div class="intro">
		<div class="container">
			<div class="translucent">
				<div class="intro_inner">
					<h2 class="intro_suptitle">EcoDrive</h2>
					<h1 class="intro_title">For the future</h1>
				</div>
			</div>

		</div>
	</div>



	<div class="content">
		<div class="about contentOne">
			<div class="photoBack contentOne">
				<div class="photo cn-one">
				</div>
				<div class="txt-one">
					<h2 class="cn-one" style="width: 400px;">
						We ignite opportunity by setting the world in motion</h2>
					<h4 class="text cn-one">Good things happen when people can move, whether across town or toward their
						dreams. Opportunities appear, open up, become reality. What started as a way to tap a button to
						get a ride has led to billions of moments of human connection as people around the world go all
						kinds of places in all kinds of ways with the help of our technology.</h4>
				</div>
			</div>
		</div>

		<div class="google-map">
		</div>

		<div class=content-second>
			<div class="aboutTwo contentTwo">
				<div class="photoBackTwo contentTwo">
					<div class="photoTwo">
					</div>
					<div>
						<h2 class="logo-txt-two">Your safety drives us</h2>
						<h4 class="textTwo" style="margin-top: px;">Whether you’re in the back seat or behind the wheel, your safety is
							essential. We are committed to doing our part, and technology is at the heart of our
							approach. We partner with safety advocates and develop new technologies and systems to help
							improve safety and help make it easier for everyone to get around.</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="content-intro">
			<div class="save-environments">
			</div>
			<h1 class="textSaveEnv">Save your environment! <br> Go ride on eco-drive.</h1>
		</div>
	</div>


	<div class="footer footer-logo-photo">
		<div class="ftlogo ftl">
			<div class="footer-logo ftl"></div>
			<div class="footer-logo-txt ftl">

			</div>
		</div>

		<div class="callBack ftl">
			<h1>Contact us:</h1>
			<br>
			<div class="vib contact">Viber: +380662223344</div>
			<div class="vib viber"></div>

			<br>
			<div class="tel contact">Telegram: +380662223344</div>
			<div class="tel telegram"></div>

			<br>
			<div class="inst contact">Instagram: @EcoDriveLviv</div>
			<div class="inst instagram"></div>

			<br>
			<div class="face contact">FaceBook: EcoDriveLviv</div>
			<div class="face facebook"></div>
		</div>

	</div>


	<script src="assets/script.js"></script>
</body>

</html>