<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/css/style-for-pages/style-for-product-page.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200i,400,700&display=swap&subset=cyrillic-ext"
		rel="stylesheet">
	<title>Product</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<header class="header header-product">
		<div class="container product-container">
			<div class="header_inner">
				
					<a href="home.html">
						<div class="header_logo"></div>
					</a>
				

				<nav class="nav">
					<a class="nav_link about_link_menu" href="product.html">Product</a>
					<a class="nav_link" href="reservation.html">Reservation</a>
					<a class="nav_link" href="about.html">About</a>
					<a class="nav_link" href="help.html">Help</a>
				</nav>
			</div>
		</div>
	</header>

	<div class="product-content">
		<div class="product-content-block-one product-block">
			<div class="block-shadow block-one">
				<div class="img-one img">
					
				</div>
			</div>

			<div class="text-one block-one">
				<h2>Nissan Leaf</h2>
				<p>Power reserve 150-250 km</p>
				<p>Power of 109 c.p.s.</p>
				<p>Acceleration up to 100km/hour 11.9 sec.</p>
				<p>16-inch steel disks with decorative coveralls</p>
				<p>Audio system with AM/FM/CD/MP3 ring display</p>
				<p>Charging port 3,3/6,6 kW</p>
				<p>Optional charging port 50 kW CHADEMO</p>
				<p>Rear view camera.</p>
				<h5>Goods code: 04934</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-two">
				<div class="img-two img"></div>
			</div>

			<div class="text-two block-two">
				<div class="text-two block-two">
					<h2>BMW i3</h2>
					<p>Power reserve 350 km</p>
					<p>Power of 179 hp.</p>
					<p>Acceleration up to 100km/hour 7.2 sec.</p>
					<p>Light Alloy Wheels R19"</p>
					<p>Interior trim with white fabric</p>
					<p>LED headlights</p>
					<p>4 airbags</p>
					<p>Light and Rain Sensors</p>
					<h5>Goods code: 09848</h5>
					<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
				</div>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-three">
				<div class="img-three img"></div>
			</div>

			<div class="text-three block-three">
				<h2>Tesla Model S</h2>
				<p>Power reserve 350 km</p>
				<p>Power 772 hp.</p>
				<p>Acceleration up to 100 km/hour 2.7 sec.</p>
				<p>Speed 250 km/hour</p>
				<p>Charge: 40 xv</p>
				<p>supercharger</p>
				<p>Change: 6 - 7 hour type of charging</p>
				<h5>Goods code: 01489</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-four">
				<div class="img-four img"></div>
			</div>

			<div class="text-four block-four">
				<h2>Tesla Model X</h2>
				<p>Power reserve 530 km</p>
				<p>Power 720 hp.</p>
				<p>Acceleration up to 100 km/h 3.1 sec.</p>
				<p>Speed: 250 km/h</p>
				<p>Charging: 40 min</p>
				<p>supercharger</p>
				<p>Charging: 6 - 7 hours off the charger</p>
				<h5>Goods code: 05283</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-five">
				<div class="img-five img"></div>
			</div>

			<div class="text-five block-five">
				<h2>Renault ZOE</h2>
				<p>Power reserve 210/300km</p>
				<p>Power 92 hp.</p>
				<p>Acceleration up to 100 km/h 13.5 sec.</p>
				<p>Engine: R240 / Q210 (22kW / 43kW)</p>
				<p>Battery capacity: 22 kW</p>
				<p>Quick charging time: 1:00 (R240), 30 minutes (Q210)</p>
				<p>Power reserve between 100 km and 150 km</p>
				<h5>Goods code: 09838</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-six">
				<div class="img-six img"></div>
			</div>

			<div class="text-five block-six">
				<h2>Renault Kangoo ZE</h2>
				<p>Power reserve 120 km</p>
				<p>Power of 60 hp.</p>
				<p>Acceleration up to 100 km/h 20 sec.</p>
				<h5>Goods code: 07342</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-seven">
				<div class="img-seven img"></div>
			</div>

			<div class="text-five block-seven">
				<h2>Cecotec Bongo A Connected (CCTC-07026)</h2>
				<p>Wheel diameter 8.5"</p>
				<p>Maximum recommended load 120 kg</p>
				<p>Rated power 350 W</p>
				<p>Maximum speed Up to 25 km/h</p>
				<p>Power reserve 45 km</p>
				<p>Waterproof IP54</p>
				<p>Landscape Asphalt</p>
				<h5>Goods code: 08788</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-eight">
				<div class="img-eight img"></div>
			</div>

			<div class="text-five block-eight">
				<h2>Cecotec Bongo Z Blue CCTC-07031</h2>
				<p>Wheel diameter 12"</p>
				<p>Rated power 500 W</p>
				<p>Maximum speed 25 km/h</p>
				<p>Power reserve 45 km</p>
				<p>Battery 10 Ah</p>
				<p>Full charge time 5 hours</p>
				<p>Weight 28 kg</p>
				<h5>Goods code: 09364</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-nine">
				<div class="img-nine img"></div>
			</div>

			<div class="text-five block-nine">
				<h2>OIO RT5 PRO</h2>
				<p>Maximum recommended load 120 kg</p>
				<p>Rated power 1200 W</p>
				<p>Maximum speed 45 km/h</p>
				<p>Power reserve 35 km</p>
				<p>Landscape Asphalt, Cobblestone, Dirt Road, Paving Tiles</p>
				<p>Battery 60V, 10.4 AH, Li-ION</p>
				<p>Full charge time 4 - 6 hours</p>
				<p>Dimensions 1020 x 210 x 350mm</p>
				<h5>Goods code: 05351</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-ten">
				<div class="img-ten img"></div>
			</div>

			<div class="text-five block-ten">
				<h2>E-motion Fatbike FASHION X2 48V 1000</h2>
				<p>Wheel diameter 26"</p>
				<p>Maximum recommended load 130 kg</p>
				<p>Rated power 1000 W</p>
				<p>Maximum speed 45 km/h</p>
				<p>Rear brake Disk mechanical</p>
				<p>Front brake Disk mechanics</p>
				<p>Motor location Rear motor wheel</p>	
				<h5>Goods code: 02413</h5>		
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>



		<div class="product-content-block-one product-block">
			<div class="block-shadow block-eleven">
				<div class="img-eleven img"></div>
			</div>

			<div class="text-five block-eleven">
				<h2>E-motion MTB 29" GT 48V 15Ah</h2>
				<p>Wheel diameter 29"</p>
				<p>Maximum recommended load 110 kg</p>
				<p>Rated power 700 W</p>
				<p>Maximum speed 35 km/h</p>
				<p>Rear brake Disk hydraulic</p>
				<p>Front brake Disk hydraulic</p>
				<p>Motor location Rear motor wheel</p>
				<h5>Goods code: 01933</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>


<div class="product-content-block-one product-block">
			<div class="block-shadow block-twelve">
				<div class="img-twelve img"></div>
			</div>

			<div class="text-five block-twelve">
				<h2>E-MOTION FATBIKE GT 48V 16AH</h2>
				<p>Wheel diameter 26"</p>
				<p>Maximum recommended load 130 kg</p>
				<p>Rated power 750 W</p>
				<p>Features For off-road</p>
				<p>Maximum speed 50 km/h</p>
				<p>Power reserve 60 km</p>
				<p>Rear brake Disk mechanical</p>
				<h5>Goods code: 03367</h5>
				<a class="button_booking" href="reservation.html"><input type="submit" name="Booking" value="Booking"></a>
			</div>

		</div>


	</div>

	<div class = "footer-product">
		<div class = "ftlogo ftl ftl-product">
		<div class = "footer-logo ftl"></div>
		<div class = "footer-logo-product ftl">
			
		</div>
	</div>
	
		<div class = "callBack ftl">
			<h1>Contact us:</h1>
				<br><div class = "vib contact">Viber: +380662223344</div><div class="vib viber"></div>
	
				<br><div class = "tel contact">Telegram: +380662223344</div><div class="tel telegram"></div>
	
				<br><div class = "inst contact">Instagram: @EcoDriveLviv</div><div class="inst instagram"></div>
	
				<br><div class = "face contact">FaceBook: EcoDriveLviv</div><div class="face facebook"></div>
		</div>
	
	</div>

	<script src="assets/script.js"></script>
</body>

</html>