<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/css/style-for-pages/style-for-reservation.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200i,400,700&display=swap&subset=cyrillic-ext"
		rel="stylesheet">
	<title>Reservation</title>
</head>

<body>
	<div class="body">
		<header class="header header-product">
			<div class="container product-container">
				<div class="header_inner">

					<a href="home.html">
						<div class="header_logo"></div>
					</a>


					<nav class="nav">
						<a class="nav_link about_link_menu" href="product.html">Product</a>
						<a class="nav_link" href="reservation.html">Reservation</a>
						<a class="nav_link" href="about.html">About</a>
						<a class="nav_link" href="help.html">Help</a>
					</nav>
				</div>
			</div>
		</header>

		<form class="reservation_form">
			<h2 class="text_form">Reservation</h2>
			<hr>
			<span class="txt">
				<span class="line">
					<p>First name:</p>
					<input type="text" name="First name" size="40">
					<p>Last name:</p>
					<input type="text" name="Last name" size="40">
					<p>Phone number:</p>
					<input type="text" name="Phone number" size="40">
					<p>Code goods:</p>
					<input type="text" name="Code goods" size="40">
				</span>
			</span>
			<hr>
			<p>
				<input type="submit" name="Booking" value="Booking" class="button-form" style="background-color: green;">
				<input type="reset" name="Cleanse" value="Cleanse" class="button-form" style="background-color: brown;">
			</p>
		</form>

		<div class="footer-product">
			<div class="ftlogo ftl ftl-product">
				<div class="footer-logo ftl"></div>
				<div class="footer-logo-product ftl">

				</div>
			</div>

			<div class="callBack ftl">
				<h1>Contact us:</h1>
				<br>
				<div class="vib contact">Viber: +380662223344</div>
				<div class="vib viber"></div>

				<br>
				<div class="tel contact">Telegram: +380662223344</div>
				<div class="tel telegram"></div>

				<br>
				<div class="inst contact">Instagram: @EcoDriveLviv</div>
				<div class="inst instagram"></div>

				<br>
				<div class="face contact">FaceBook: EcoDriveLviv</div>
				<div class="face facebook"></div>
			</div>

		</div>

	</div>
</body>

</html>